<li>
  <a href="<%= app_prefix("#{@page_search}&filter_fields[]=#{type}&filter_values[]=#{CGI.escape(facet.key)}") %>"
    rel="nofollow"
    aria-label="<%= t('search_results.filter_by') %> '<%= t("search_results.filter.#{type}") %>' of '<%= facet.label %>' (<%= facet.count %> results)">
    <%= facet.label %>
  </a>
  <span class="badge badge-pill badge-dark"><%= facet.count %></span>
</li>
