<!-- display announcement, if we have one -->
<% if AppConfig[:display_announcement] %>
  <%= render partial: 'shared/announcement' %>
<% end %>

<!-- Header Include -->
<header>

  <nav class="navbar navbar-expand-lg text-light">
    <div class="container-fluid">
      <div class="header--nav-branding d-flex w-100">
        <div class="region region-nav-branding">

          <div data-component-id="psulib_base:header_mark" class="header-mark navbar-brand">

            <a href="https://libraries.psu.edu" title="<%= AppConfig[:pui_branding_img_alt_text] %>" rel="home" class="site-logo d-block">
              <img src="https://assets.libraries.psu.edu/psulib_base/dist/peripheral/logo.png" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" fetchpriority="high" height="60" width="228" />
            </a>
            <div class="header-mark--name-slogan">
              <a href="<%= AppConfig[:public_proxy_url] %>" title="Home" rel="home" class="site-title">
                <%= t('brand.header_title') %>
              </a>

            </div>
          </div>

        </div>

        <div class="header--nav-additional flex-fill collapse navbar-collapse justify-content-md-end"
          id="navbarSupportedContent">
          <% ASUtils.find_local_directories('public/views/_request_list_header.html.erb').each do |template| %>
            <% if File.exists?(template) %>
              <!-- Begin plugin layout -->
              <%= render :inline => File.read(template) %>
              <!-- End plugin layout -->
            <% end %>
          <% end %>
        </div>

        <div class="header--nav-search ms-auto">
          <% unless AppConfig[:pui_hide][:search_tab] %>
            <a class="btn btn-outline-light border-0 py-1 px-2" href="<%=  app_prefix('/search?reset=true') %>">
              <i class="bi bi-search" aria-hidden="true"></i>
              <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
            </a>
          <% end %>
          <%= render partial: 'shared/mobile_navigation' %>
        </div>

      </div>
    </div>

    <div class="container-fluid nav-main-menu-container">
      <div class="d-flex w-100 header-bottom">
        <div class="d-none d-md-block">
          <div class="region region-nav-main">
            <%= render partial: 'shared/navigation' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- End HeaderInclude -->