<section id="header" class="bg-dark">
  <div class="d-flex flex-row align-items-center px-4">
    <div class="d-md-block d-none">
      <a title="<%= AppConfig[:pui_branding_img_alt_text] %>" href="https://libraries.psu.edu">
        <img class="logo img-fluid" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" />
      </a>
    </div>
    <div class="p-2 site-title">
      <a href="<%= AppConfig[:public_proxy_url] %>">
        <%= t('brand.header_title') %>
      </a>
    </div>
    <% ASUtils.find_local_directories('public/views/_request_list_header.html.erb').each do |template| %>
      <% if File.exists?(template) %>
        <!-- Begin plugin layout -->
        <%= render :inline => File.read(template) %>
        <!-- End plugin layout -->
      <% end %>
    <% end %>
  </div>
</section>
