<%# change div size for mobile devices %>

<div class="col-xs-12 col-sm-8">
  <% if pager %>
    <% if pager.pages.last > 1 %>
      <% if pager.page > 1 %>
        <a href="<%= app_prefix(pager.link) %>&page=<%= pager.prev %>"><span aria-hidden="true">&larr;</span> Previous</a> |
      <% else %>
        <span aria-hidden="true">&larr;</span> Previous |
      <% end %>
      <%= t('search_results.results_head', {:start => results['offset_first'], :end => results['offset_last'],
        :total => results['total_hits']}).html_safe %>
      <% if pager.page < pager.last_page %>
         | <span class="next"><a href="<%= app_prefix(pager.link) %>&page=<%= pager.next %>"><span aria-hidden="true">&rarr;</span> Next</a>
      <% else %>
         | Next <span aria-hidden="true">&rarr;</span>
      <% end %>
    <% else %>
      <% if results['total_hits'] > 1 %>
        <%= t('search_results.results_head', {:start => results['offset_first'], :end => results['offset_last'],
          :total => results['total_hits']}).html_safe %>
      <% else %>
        <%= t('search_results.one_entry', {:total => results['total_hits']}).html_safe %>
      <% end %>
    <% end %>
  <% end %>
</div>
