<% root_url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}") %>

<div class="sidebar-information">
  <h3 class="record-type-badge <%= result.primary_type %>">
    <i class="<%= icon_for_type(result.primary_type) %>"></i>&#160;<%= t("#{result.primary_type}._singular") %> <% if result.container_summary_for_badge %> &mdash; <%= result.container_summary_for_badge %><% end %>
  </h3>

  <div class="record-sidebar-title">
    <%= render partial: 'shared/sidebar_info', locals: {:result => result, :props => {:full => true} } %>
    <h1>
      <a href="<%= app_prefix(resource_base_url(result)) %>"><%= result.parse_full_title(true) %></a>
    </h1>  
  </div>

  <div class="page_actions" title="<%= t('page_actions') %>">
    <%= render partial: 'shared/page_actions', locals: {:record => result, :title => result.display_string, :url => request.fullpath, :cite => result.cite} %>
  </div>
</div>

<ul class="resources-sidebar-links">
  <li><a href="<%= root_url %>#collection-organization">Collection Organization</a></li>
  <li><a href="<%= root_url %>#summary">Summary</a></li>
  <li><a href="<%= root_url %>#background">Background</a></li>
  <% unless result.subjects.blank? %>
    <li><a href="<%= root_url %>#subjects">Subjects</a></li>
  <% end %>
  <li><a href="<%= root_url %>#using-these-materials">Using These Materials</a></li>
  <hr>
  <% if @has_containers %>
    <li><%= link_to t('actions.numeric'), app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/inventory"), :class => "record-title" %></li>
  <% end %>
  <% if @has_digital_objects %>
    <li><%= link_to t('actions.digitized'), app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/digitized"), :class => "record-title" %></li>
  <% end %>
</ul>

<%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>

<% if props.fetch(:sidebar_tree, true) %>
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
    </div>
  </div>
<% end %>
