<!-- remove breadcrumbs, add results_head to search results -->
<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row resources">
  <div id="sidebar" class="resources-sidebar col-xs-12 col-sm-4">
    <%= render partial: 'resources/sidebar', locals: {:result => @result, :props => {:full => true}} %>
  </div>

  <div class="resources-content col-xs-12 col-sm-8">
    <h2><%= t('actions.digitized') %></h2>

    <%= render partial: 'shared/results_head', locals: {:pager => @pager, :results => @results} %>
    <% unless @results.blank? || @results['total_hits'] == 0 %>
      <% @results.records.each do |result| %>
        <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
      <% end %>
      <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
