<a name="main" title="<%= t('internal_links.main') %>"></a>

<%= javascript_include_tag "#{@base_url}/assets/RequestTree.js" %>

<% tree_waypoint_size = 100 %>

<div class="row flex-column flex-lg-row" id="main-content">
  <div id="sidebar" class="sidebar sidebar-container col-12 col-lg-4 infinite-tree-sidebar">  
    <div class="p-3 bg-light">
      <div class="sidebar-title">
        <%= render partial: 'shared/sidebar_info', locals: {:result => @result, :props => {:full => true}} %>
        <h1>
          <a href="<%= app_prefix(resource_base_url(@result)) %>"><%= @result.parse_full_title(true).html_safe %></a>
        <h1>
      </div>

      <h3 class="record-type-badge <%= @result.primary_type %>">
        <i class="<%= icon_for_type(@result.primary_type) %>"></i>&#160;<%= t("#{@result.primary_type}._singular") %> <% if @result.container_summary_for_badge %> &mdash; <%= @result.container_summary_for_badge %><% end %>
      </h3>

      <div class="page_actions col-12 col-lg-6">
        <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
      </div>
    </div>

    <% if defined?(@filters) && defined?(@search) %>
      <%= render partial: 'shared/facets' %>
    <% end %>

    <div class="p-2">
      <% if AppConfig[:pui_search_collection_from_collection_organization] %>
        <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => t('actions.search_in', :type => t('resource._singular'))} %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-8 px-3">
    <%= render partial: 'resources/resource_alltabs' %>

    <h2><%= t('actions.hierarch') %></h2>
    <p class="resources-infinite-text"><%= t('messages.infinite_text') %></p>
    <%= render partial: 'resources/request_tree' %>
  </div>
</div>

<script>
const resourceUri = '<%= @result["uri"] %>';
const treeWaypointSize = '<%= tree_waypoint_size %>';
const identifier_separator = '<%= I18n.t("resource.identifier_separator") %>';
const date_type_bulk = '<%= I18n.t("date_type_bulk.bulk") %>';
const appUrlPrefix = '<%= AppConfig[:public_proxy_url] %>';

const requestTree = new RequestTree(
  treeWaypointSize,
  appUrlPrefix,
  resourceUri,
  identifier_separator,
  date_type_bulk
);

requestTree.container.addEventListener('click', (e) => {
  treeClickDelegator(e, requestTree);
});

/**
 * treeClickDelegator
 * @description - Delegate click events on the RequestTree container
 * @param {Event} event - Click event
 * @param {RequestTree} tree - RequestTree instance
 */
function treeClickDelegator(event, tree) {
  if (
    !event.target.classList.contains('node-expand') &&
    !event.target.classList.contains('node-expand-icon') &&
    !event.target.classList.contains('node-title')
  ) return;

  if (event.target.className.includes('node-expand')) {
    tree.expandHandler(event);
  }
}
</script>

<%= render partial: 'shared/modal_actions' %>
