<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div class="information col-sm-7">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <%= render partial: 'resources/ark' %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>

<%= javascript_include_tag 'tree_renderer' %>

<%= render partial: 'resources/resource_alltabs' %>

<div class="row">
  <div id="sidebar" class="sidebar sidebar-container col-sm-4">
    <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
  </div>

  <div class="resources-content col-sm-8">
    <h2><%= t('actions.hierarch') %></h2>
    <div class="infinite-tree-view largetree-container" id="resource-tree-container"></div>
  </div>
</div>

<script>
  var root_uri = "<%= app_prefix(@result.uri) %>";
  var base_url = "<%= url_for(:action => :show) %>";
  var should_link_to_record = true;

  let infiniteScrollOverride = new SimpleRenderer(should_link_to_record);
  infiniteScrollOverride.nodeTemplate = $('<div class="table-row"> ' +
                            '  <div class="table-cell title"><button class="expandme" aria-expanded="false"><i class="expandme-icon glyphicon glyphicon-chevron-right" /></button></div>' +
                            '</div>');
  
  var tree = new LargeTreeReplacement(new TreeDataSource(root_uri + '/tree'),
    $('#resource-tree-container'),
    root_uri,
    true,
    infiniteScrollOverride,
    function() {
      var tree_id = TreeIds.uri_to_tree_id('<%= @result.uri %>');
    }
  );
</script>

<%= render partial: 'shared/modal_actions' %>
