<a name="main" title="<%= t('internal_links.main') %>"></a>

<%
  waypoint_size = 200
%>

<div id="main-content" class="row">
  <div id="sidebar" class="resources-sidebar col-xs-12 col-sm-4">
    <%= render partial: 'resources/sidebar', locals: {:result => @result, :props => {:full => true, :sidebar_tree => false}} %>
  </div>

  <div class="resources-content col-xs-12 col-sm-8">
    <h2><%= t('actions.hierarch') %></h2>
    <p class="resources-infinite-text"><%= t('messages.infinite_text') %></p>
    <div 
      class="infinite-tree-view largetree-container" 
      id="tree-container"
      data-waypoint-size="<%= waypoint_size %>"
      data-repo-id="<%= @result['uri'].split('/')[2] %>"
      data-resource-id="<%= @result['uri'].split('/')[4] %>"
    >
    </div>
  </div>
</div>

<dialog data-loading-modal>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</dialog>

<template id="root-row-template">
  <div id="" class="table-row root-row" role="listitem" data-uri="">
    <div class="table-cell title record-title"></div>
  </div>
</template>

<template id="node-row-template">
  <div id="" class="table-row largetree-node" role="listitem" data-uri="">
    <div class="table-cell title" title="">
      <button class="expandme" aria-expanded="false">
        <i class="expandme-icon glyphicon glyphicon-chevron-right"></i>
        <span class="sr-only"></span>
      </button>
      <span class="review-record">
        <a class="record-title" href=""></a>
      </span>
    </div>
  </div>
</template>

<script>
const resourceUri = '<%= @result["uri"] %>';
const treeWaypointSize = '<%= waypoint_size %>';
const identifier_separator = '<%= I18n.t("resource.identifier_separator") %>';
const date_type_bulk = '<%= I18n.t("date_type_bulk.bulk") %>';

const infiniteTree = new InfiniteTree(
  treeWaypointSize,
  resourceUri,
  identifier_separator,
  date_type_bulk
);

infiniteTree.container.addEventListener('click', (e) => {
  treeClickDelegator(e, infiniteTree);
});

/**
 * treeClickDelegator
 * @description - Delegate click events on the InfiniteTree container
 * @param {Event} event - Click event
 * @param {InfiniteTree} tree - InfiniteTree instance
 */
function treeClickDelegator(event, tree) {
  if (
    !event.target.classList.contains('expandme') &&
    !event.target.classList.contains('expandme-icon') &&
    !event.target.classList.contains('record-title')
  ) return;

  if (event.target.className.includes('expandme')) {
    tree.expandHandler(event);
  } else if (event.target.classList.contains('record-title')) {
    records.treeLinkHandler(event);
  }
}
</script>

<%= render partial: 'shared/modal_actions' %>
