<a name="main" title="<%= t('internal_links.main') %>"></a>

<div class="row flex-column flex-lg-row" id="main-content">
  <div id="sidebar" class="h-max p-0 col-12 col-lg-4 sidebar sidebar-container">
    <div class="p-3 bg-light">
      <div class="sidebar-title">
        <%= render partial: 'shared/sidebar_info', locals: {:result => @result, :props => {:full => true}} %>
        <h1>
          <a href="<%= app_prefix(resource_base_url(@result)) %>"><%= @result.parse_full_title(true).html_safe %></a>
        </h1>
      </div>

      <h3 class="record-type-badge <%= @result.primary_type %>">
        <i class="<%= icon_for_type(@result.primary_type) %>"></i>&#160;<%= t("#{@result.primary_type}._singular") %> <% if @result.container_summary_for_badge %> &mdash; <%= @result.container_summary_for_badge %><% end %>
      </h3>

      <div class="page_actions">
        <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
      </div>
    </div>

    <hr>

    <% if defined?(@filters) && defined?(@search) %>
      <%= render partial: 'shared/facets' %>
    <% end %>
  </div>
  
  <div class="col-12 col-lg-8 px-3">
    <%= render partial: 'resources/resource_alltabs' %>
      
    <h2><%= t('actions.numeric') %></h2>
    <p class="resources-inventory-text"><%= t('messages.inventory_text') %></p>
    
    <% unless @results.blank? || @results['total_hits'] == 0 %>
      <% @results.records.each do |result| %>
        <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
      <% end %>
      <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>