<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div id="sidebar" class="resources-sidebar col-xs-12 col-sm-4">
    <%= render partial: 'resources/sidebar', locals: {:result => @result, :props => {:full => true}} %>
  </div>

  <div class="resources-content col-xs-12 col-sm-8">
    <h2><%= t('actions.numeric') %></h2>
    <p class="resources-inventory-text"><%= t('messages.inventory_text') %></p>
    <% @results.records.each do |result| %>
      <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
    <% end %>
    <%= render partial: 'shared/pagination', locals: {:pager => @pager} %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
