<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row objects">
  <div id="sidebar" class="objects-sidebar col-xs-12 col-sm-4">
    <%= render partial: 'objects/sidebar', locals: {:result => @result, :props => {:full => true}} %>
  </div>

  <div class="objects-content col-xs-12 col-sm-8">
    <% if  defined?(comp_id) && !comp_id && !@result['json']['ref_id'].blank? %>
      <span class='ref_id'>[<%=  t('archival_object._public.header.ref_id') %>: <%= @result['json']['ref_id'] %>]</span>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/record_innards' %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>